dht ultrasonic ldr moisture
[{"id":"9b1aba31.397068","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"dbd22500.9d5568","type":"inject","z":"9b1aba31.397068","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":140,"y":80,"wires":[["c406078b.b76b88"]]},{"id":"47e7de3a.32782","type":"debug","z":"9b1aba31.397068","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":60,"wires":[]},{"id":"c406078b.b76b88","type":"rpi-dht22","z":"9b1aba31.397068","name":"DHT 11","topic":"rpi-dht22","dht":"11","pintype":"0","pin":"21","x":360,"y":80,"wires":[["1f88bd15.4f9c43","174729a1.e05d76","47e7de3a.32782"]]},{"id":"2ab8fd3a.121552","type":"debug","z":"9b1aba31.397068","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":120,"wires":[]},{"id":"4d0b4006.aba72","type":"debug","z":"9b1aba31.397068","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":280,"wires":[]},{"id":"1f88bd15.4f9c43","type":"function","z":"9b1aba31.397068","name":"temperature","func":"msg.payload = msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":140,"wires":[["2ab8fd3a.121552","2c684461.9c56dc"]]},{"id":"174729a1.e05d76","type":"function","z":"9b1aba31.397068","name":"humidity","func":"msg.payload = msg.humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":260,"wires":[["4d0b4006.aba72","54818739.62b388"]]},{"id":"2c684461.9c56dc","type":"ui_gauge","z":"9b1aba31.397068","name":"","group":"2978c0fb.b483b","order":2,"width":7,"height":4,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#0056b3","#fff700","#ca3838"],"seg1":"","seg2":"","x":830,"y":180,"wires":[]},{"id":"54818739.62b388","type":"ui_gauge","z":"9b1aba31.397068","name":"","group":"2978c0fb.b483b","order":4,"width":7,"height":4,"gtype":"gage","title":"Humidity","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#0015b3","#fff700","#ca3838"],"seg1":"","seg2":"","x":820,"y":340,"wires":[]},{"id":"2fc155a4.9a945a","type":"rpi-srf","z":"9b1aba31.397068","name":"","topic":"SRF","pulse":"0.5","pins":"16,18","x":110,"y":340,"wires":[["3e53c4a8.5f2d8c","a2328682.e36a98"]]},{"id":"a2328682.e36a98","type":"debug","z":"9b1aba31.397068","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":430,"y":340,"wires":[]},{"id":"3e53c4a8.5f2d8c","type":"ui_gauge","z":"9b1aba31.397068","name":"","group":"2978c0fb.b483b","order":13,"width":7,"height":4,"gtype":"gage","title":"Distance","label":"cm","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":440,"y":420,"wires":[]},{"id":"f4f7161e.9f77b8","type":"exec","z":"9b1aba31.397068","command":"python3 /home/pi/sensors/ldrnew.py","addpay":false,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"","x":440,"y":540,"wires":[["238eb87e.df0f48","5e921933.5e6dc8"],[],[]]},{"id":"a1459549.863018","type":"inject","z":"9b1aba31.397068","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":540,"wires":[["f4f7161e.9f77b8"]]},{"id":"ac4161a7.2fa75","type":"debug","z":"9b1aba31.397068","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":970,"y":580,"wires":[]},{"id":"dc9b47ee.58dcf8","type":"ui_gauge","z":"9b1aba31.397068","name":"","group":"2978c0fb.b483b","order":24,"width":7,"height":4,"gtype":"donut","title":"Light","label":"Ω","format":"{{value}}","min":0,"max":"150000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":930,"y":640,"wires":[]},{"id":"5e921933.5e6dc8","type":"function","z":"9b1aba31.397068","name":"","func":"msg.payload = msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":560,"wires":[["ac4161a7.2fa75","dc9b47ee.58dcf8"]]},{"id":"238eb87e.df0f48","type":"debug","z":"9b1aba31.397068","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":480,"wires":[]},{"id":"1432cd9f.312ed2","type":"inject","z":"9b1aba31.397068","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":680,"wires":[["79876565.65475c"]]},{"id":"79876565.65475c","type":"exec","z":"9b1aba31.397068","command":"python3 /home/pi/sensors/moisture.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":450,"y":700,"wires":[["4c29a45.94e785c","25a9cea7.fc7012"],[],[]]},{"id":"4c29a45.94e785c","type":"debug","z":"9b1aba31.397068","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":910,"y":720,"wires":[]},{"id":"25a9cea7.fc7012","type":"function","z":"9b1aba31.397068","name":"","func":"msg.payload = msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":800,"wires":[["7e07b8c5.3077f8","fdec6c03.f9529"]]},{"id":"7e07b8c5.3077f8","type":"debug","z":"9b1aba31.397068","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":800,"wires":[]},{"id":"fdec6c03.f9529","type":"ui_gauge","z":"9b1aba31.397068","name":"","group":"2978c0fb.b483b","order":15,"width":7,"height":4,"gtype":"gage","title":"Moisture","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":960,"y":880,"wires":[]},{"id":"2978c0fb.b483b","type":"ui_group","name":"Sensors","tab":"9a8ab5b0.5b8eb8","order":1,"disp":true,"width":"16","collapse":false},{"id":"9a8ab5b0.5b8eb8","type":"ui_tab","name":"My Sensors","icon":"dashboard","disabled":false,"hidden":false}]
